@model MainCodeChallenge.Models.ApprovalStatus

@{

    ViewBag.Title = "DetailsChallenge";
    IEnumerable<MainCodeChallenge.Models.ChallengeApprovalStatus> challengeApprovalStatus = ViewData["challengeApprovalStatus"] as IEnumerable<MainCodeChallenge.Models.ChallengeApprovalStatus>;
    IEnumerable<MainCodeChallenge.Models.Example> example = ViewData["ExampleChallenge"] as IEnumerable<MainCodeChallenge.Models.Example>;
    IEnumerable<MainCodeChallenge.Models.ApprovalStatus> approvalDone = ViewData["approvalDone"] as IEnumerable<MainCodeChallenge.Models.ApprovalStatus>;
    //IEnumerable<MainCodeChallenge.Models.Language> languages= ViewData["Languages"] as IEnumerable<MainCodeChallenge.Models.Language>;
    WebGrid grid = new WebGrid(approvalDone, canSort: true);
    int Uid = (int)ViewData["Uid"];
    bool ApprovalStatus = (bool)ViewData["ApprovalStatus"];
    bool IsItPossibleToPickUp = (bool)ViewData["IsItPossibleToPickUp"];


}




<h1>DetailsChallenge</h1>

<link rel="Stylesheet" href="@Href("~/Content/ChD.css")" />

<div>   @Html.ActionLink("Back to List", "ProfilePage", "Account")</div>
<div class="center">
    <table width="100%">
        <tr>
            <td>
                <h2>@challengeApprovalStatus.First().QName </h2>
            </td>
            <td style="direction:rtl">
                @if (!ApprovalStatus)
                {
                    if (IsItPossibleToPickUp)
                    {
                        <button class="gradientButton" onclick="location.href='@Url.Action("PickUpChallenge", "Challenge", new {Qid= @challengeApprovalStatus.First().Qid ,Uid= Uid} )';return false;">Pick up / @challengeApprovalStatus.First().QRpoint</button>
                    }
                    else
                    {
                        <button class="gradientButtonDisable" disabled="disabled">Pick up / @challengeApprovalStatus.First().QRpoint</button>
                    }

                }

            </td>
        </tr>
    </table>
    <h3>@challengeApprovalStatus.First().CT_Name / Difficulty: <span> @challengeApprovalStatus.First().QLevel.ToString() </span> </h3>
    <h3>Question Owner: @challengeApprovalStatus.First().POwnerName / Number of volunteers: @challengeApprovalStatus.First().CountOfA  </h3>
    <br />
    <p>
        @challengeApprovalStatus.First().QDescription
    </p>
    <br />
    <h3>
        Examples
    </h3>

    <table style="width:100%">
        @if (example.Count() != 0)
        {
            foreach (var item in example)
            {
                <tr>
                    <td>
                        Input:
                    </td>
                </tr>
                <tr>
                    <td class="blueBackground">
                        &nbsp;&nbsp;&nbsp; @item.EXInputModel
                    </td>
                </tr>
                <tr>
                    <td>
                        Output:
                    </td>
                </tr>
                <tr>
                    <td class="blueBackground">
                        &nbsp;&nbsp;&nbsp; @item.EXOutputModel
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td class="blueBackground">
                    ---------
                </td>
            </tr>
        }
    </table>

    <br />
    @if (ApprovalStatus)
    {
        int Qid = challengeApprovalStatus.First().Qid;
        @Html.HiddenFor(model => model.SQId)
        @Html.HiddenFor(model => model.SQPid)
        @*@Html.HiddenFor(model => model.SAnswer)*@
        @Html.DropDownList("MySkills", new SelectList(ViewBag.Languages, "Lid", "Lname"), new { Id = "DropLan" })
        <br />
        //string ans = model.SAnswer;
        @Html.TextAreaFor(model => model.SAnswer, new { Id = "TxtAns", style = "width:100% "});
        <br />

        <button id="submitB" Onclick="Submit()" class="btn">submit</button>


    }

    @if (approvalDone.Count() != 0)
    {

        @grid.GetHtml(
           columns: new[]

           {
               grid.Column( header: "RowNumber",format: item => item.WebGrid.Rows.IndexOf(item) + 1,style:"grid1"),
               grid.Column(columnName:"SAnswer",header:"solution",style:"grid100"),
               grid.Column(columnName:"Lname", header:"Language",style:"grid100"),
               grid.Column(columnName:"approvalStatus",header:"approvalStatus",style:"grid100"),
               //grid.Column(header: "Details", format: (item) => new HtmlString("<a href=" + @Url.Action("detailsAnswer","Challenge",new { Sid = item.SId }  ) +
               //  " title='DetailsChallenge' ><i class='glyphicon glyphicon-search modal-link'> </i><span class='sr-only modal-link'>Detail</span> </a> ")),

               grid.Column("", format: item => Html.ActionLink("detailsAnswer","detailsAnswer", "Challenge", new { Sid = item.SId }, new { target = "_blank" ,@class="modal-link" }),style:"grid100")

           })
    }


</div>



<div id="modal-container" class="modal fade"
     tabindex="-1" role="dialog">
    <div class="modal-content">

    </div>
</div>
@section scripts{
    <script>
            function Submit() {

                var Qid =@challengeApprovalStatus.First().Qid;
                var Uid =@Uid;
                var textarea = document.getElementById('TxtAns').value;
                var dropdown = document.getElementById('DropLan')

                //debugger;
                $.ajax({
                url: '@Url.Action("SubmitChallenge", "Challenge")',
                    type: "post",
                    data: { 'Uid': Uid, 'Qid': Qid, 'Ans': textarea, 'lan': dropdown.value } ,
                    cache: false,
                    success: function (savingStatus) {
                        alert("success");
                        //success();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert("error");

                    }
                });
            }



            $(function () {
                // Initialize numeric spinner input boxes
                //$(".numeric-spinner").spinedit();
                // Initialize modal dialog
                // attach modal-container bootstrap attributes to links with .modal-link class.
                // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
                $('body').on('click', '.modal-link', function (e) {
                    e.preventDefault();
                    $(this).attr('data-target', '#modal-container');
                    $(this).attr('data-toggle', 'modal');
                });
                // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
                $('body').on('click', '.modal-close-btn', function () {
                    $('#modal-container').modal('hide');
                });
                //clear modal cache, so that new content can be loaded
                $('#modal-container').on('hidden.bs.modal', function () {
                    $(this).removeData('bs.modal');
                });
                $('#CancelModal').on('click', function () {
                    return false;
                });
            });
    </script>



}

