@model MainCodeChallenge.Models.ChallengeApprovalStatus

@{

    ViewBag.Title = "DetailsChallenge";
    IEnumerable<MainCodeChallenge.Models.ChallengeApprovalStatus> challengeApprovalStatus = ViewData["challengeApprovalStatus"] as IEnumerable<MainCodeChallenge.Models.ChallengeApprovalStatus>;
    IEnumerable<MainCodeChallenge.Models.Example> example = ViewData["ExampleChallenge"] as IEnumerable<MainCodeChallenge.Models.Example>;
    WebGrid gridch = new WebGrid(challengeApprovalStatus, canSort: true, canPage: true);
    WebGrid gridD = new WebGrid(example, canSort: true, canPage: true);
    int Uid= (int)ViewData["Uid"];
    bool ApprovalStatus = (bool)ViewData["ApprovalStatus"];
    bool IsItPossibleToPickUp=(bool)ViewData["IsItPossibleToPickUp"];

}

<h1>DetailsChallenge</h1>


<style>
    table, th, td {
        padding: 2px;
    }
    .center {
        margin: auto;
        width: 90%;
        /*border: 3px solid #4682B4;*/
        padding: 10px;
    }
    .float-container {
        border: 3px solid #fff;
        padding: 20px;
    }

    .float-child {
        width: 50%;
        float: left;
        padding: 20px;
        border: 2px solid red;
    }
    .gradientButton {
        color: white;
        text-transform: uppercase;
        width: 100px;
        line-height: 50px;
       
        background: #00B000;
        text-align: center;
        box-shadow: inset 0 0 25px rgba(0,0,0,.25)
    }
   .gradientButton:hover {
        /*text-shadow: 1px 1px #336633;*/
        background: linear-gradient(to bottom right, LawnGreen 5%, green 80%);
   }
    .gradientButtonDisable {
        color: white;
        text-transform: uppercase;
        width: 100px;
        line-height: 50px;
        background: #DCDCDC;
        text-align: center;
        box-shadow: inset 0 0 25px rgb(128, 128, 128)
    }
   .blueBackground {
        background-color:#F0F8FF 
   }
</style>




<div class="center">
    <table width="100%">
        <tr>
            <td>
                <h2>@Model.QName </h2>
            </td>
            <td style="direction:rtl">
                @if (!ApprovalStatus)
                {
                    if (IsItPossibleToPickUp)
                    {
                        <button class="gradientButton" onclick="location.href='@Url.Action("PickUpChallenge", "Challenge", new {Qid= Model.Qid ,Uid= Uid} )';return false;">Pick up / @Model.QRpoint</button>
                    }
                    else
                    {
                        <button class="gradientButtonDisable" disabled="disabled">Pick up / @Model.QRpoint</button>
                    }

                }

            </td>
        </tr>
    </table>
    <h3>@Model.CT_Name / Difficulty: <span> @Model.QLevel.ToString() </span> </h3>
    <h3>Question Owner: @Model.POwnerName / Number of volunteers: @Model.CountOfA  </h3>
    <br />
    <p>
        @Model.QDescription
    </p>
    <br />
    <h3>
        Examples
    </h3>

    <table style="width:100%">

        @foreach (var item in example)
        {
        <tr>
            <td>
                Input:
            </td>
        </tr>
        <tr>
            <td class="blueBackground">
                &nbsp;&nbsp;&nbsp; @item.EXInputModel
            </td>
        </tr>
        <tr>
            <td>
                Output:
            </td>
        </tr>
        <tr>
            <td class="blueBackground">
                &nbsp;&nbsp;&nbsp; @item.EXOutputModel
            </td>
        </tr>
        <tr>
            <td>
                <br />
            </td>
        </tr>
        }
    </table>

    <br />


        <div>
            
        </div>


</div>




