@model MainCodeChallenge.Models.ApprovalStatus

@{

    ViewBag.Title = "DetailsChallenge";
    IEnumerable<MainCodeChallenge.Models.ChallengeApprovalStatus> challengeApprovalStatus = ViewData["challengeApprovalStatus"] as IEnumerable<MainCodeChallenge.Models.ChallengeApprovalStatus>;
    IEnumerable<MainCodeChallenge.Models.Example> example = ViewData["ExampleChallenge"] as IEnumerable<MainCodeChallenge.Models.Example>;
    //IEnumerable<MainCodeChallenge.Models.Language> languages= ViewData["Languages"] as IEnumerable<MainCodeChallenge.Models.Language>;
    WebGrid gridch = new WebGrid(challengeApprovalStatus, canSort: true, canPage: true);
    WebGrid gridD = new WebGrid(example, canSort: true, canPage: true);
    int Uid = (int)ViewData["Uid"];
    bool ApprovalStatus = (bool)ViewData["ApprovalStatus"];
    bool IsItPossibleToPickUp = (bool)ViewData["IsItPossibleToPickUp"];
    
}

<h1>DetailsChallenge</h1>

<link rel="Stylesheet" href="@Href("~/Content/ChD.css")" />


<div class="center">
    <table width="100%">
        <tr>
            <td>
                <h2>@challengeApprovalStatus.First().QName </h2>
            </td>
            <td style="direction:rtl">
                @if (!ApprovalStatus)
                {
                    if (IsItPossibleToPickUp)
                    {
                        <button class="gradientButton" onclick="location.href='@Url.Action("PickUpChallenge", "Challenge", new {Qid= @challengeApprovalStatus.First().Qid ,Uid= Uid} )';return false;">Pick up / @challengeApprovalStatus.First().QRpoint</button>
                    }
                    else
                    {
                        <button class="gradientButtonDisable" disabled="disabled">Pick up / @challengeApprovalStatus.First().QRpoint</button>
                    }

                }

            </td>
        </tr>
    </table>
    <h3>@challengeApprovalStatus.First().CT_Name / Difficulty: <span> @challengeApprovalStatus.First().QLevel.ToString() </span> </h3>
    <h3>Question Owner: @challengeApprovalStatus.First().POwnerName / Number of volunteers: @challengeApprovalStatus.First().CountOfA  </h3>
    <br />
    <p>
        @challengeApprovalStatus.First().QDescription
    </p>
    <br />
    <h3>
        Examples
    </h3>

    <table style="width:100%">
        @if (example.Count() != 0)
        {
            foreach (var item in example)
            {
                <tr>
                    <td>
                        Input:
                    </td>
                </tr>
                <tr>
                    <td class="blueBackground">
                        &nbsp;&nbsp;&nbsp; @item.EXInputModel
                    </td>
                </tr>
                <tr>
                    <td>
                        Output:
                    </td>
                </tr>
                <tr>
                    <td class="blueBackground">
                        &nbsp;&nbsp;&nbsp; @item.EXOutputModel
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td class="blueBackground">
                    ---------
                </td>
            </tr>
        }
    </table>

    <br />
    @if (ApprovalStatus)
    {
        int Qid = challengeApprovalStatus.First().Qid;
        @Html.HiddenFor(model => model.SQId)
        @Html.HiddenFor(model => model.SQPid)
        @Html.HiddenFor(model => model.SAnswer)
        @Html.DropDownList("MySkills", new SelectList(ViewBag.Languages, "Lid", "Lname"), new { Id = "DropLan" })
        <br />
        string ans = Model.SAnswer;
        @Html.TextAreaFor(model => model.SAnswer, new { Id = "TxtAns", style = "width: 100%", });
        <button id="submitB" Onclick="Submit()">submit</button>


    }


    @section scripts{
        <script>
            function Submit() {

                var Qid =@challengeApprovalStatus.First().Qid;
                var Uid =@Uid;
                var textarea = document.getElementById('TxtAns').value;
                var dropdown = document.getElementById('DropLan')

                //debugger;
                $.ajax({
                    url: '@Url.Action("SubmitChallenge", "Challenge")',
                    type: "post",
                    data: { 'Uid': Uid, 'Qid': Qid, 'Ans': textarea, 'lan': dropdown.value } ,
                    cache: false,
                    success: function (savingStatus) {
                        //debugger;
                        alert("success");

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        //debugger;
                        alert("error");

                    }
                });
            }
        </script>
    }





</div>

