@model MainCodeChallenge.Models.ApprovalStatus

<div>
    <h4>ApprovalStatus</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.QStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SQDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SQDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalPID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalPID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lname)
        </dd>

    </dl>
</div>
<p>
@*    @Html.ActionLink("Back to List", "DetailsChallenge", "Challenge", new {id=Model.SQId})*@
</p>
