<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .float-container {

        }

        .float-childl {
            width: 80%;
            float: left;
     
            
        }
        .float-childr {
            width: 20%;
            float: right;
          
            
        }  
    </style>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="container">
            <div class="float-container">
                <div class="float-childl">
                    <div class="navbar-header">


                        @try
                        {
                            string SR = (string)Session["UserRole"];
                            if (SR == "AdminPage")
                            {
                                @Html.ActionLink("Main Code Challenge", "AdminPage", "Account", new { area = "" }, new { @class = "navbar-brand" })
                            }
                            else if (SR == "ProfilePage")
                            {
                                @Html.ActionLink("Main Code Challenge", "ProfilePage", "Account", new { area = "" }, new { @class = "navbar-brand" })
                            }
                            else
                            {
                                @Html.ActionLink("Main Code Challenge", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })
                            }
                        }
                        catch
                        {
                            @Html.ActionLink("Main Code Challenge", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })
                        }

                    </div>
                </div>
                <div class="float-childr">

                    @if (@Session["UserName"] != null)
                    {
                        <div style="color:darkgray;text-align:center" >
                                
                           
                                @Session["UserName"]
                           <br />
                                * total Point : @Session["Point"] *
                           <br />
                                @Html.ActionLink("LogOut", "LogOutT", "Account")
                           
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
